

/* >>>>>>>>>>>>>>>>>>  Sofia Pro Import <<<<<<<<<<<<<<<<<<<<<<*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-black';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProBlack.otf");*/
/* }*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-black-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProBlackItalic.otf");*/
/* }*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-bold';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProBold.otf");*/
/* }*/

@font-face {

	font-family: 'sofia-pro-regular';
	font-style: normal;
	src: url("../fonts/sofia/SofiaProRegular.otf");
}

@font-face {

	font-family: 'sofia-pro-extra-light';
	font-style: normal;
	src: url("../fonts/sofia/SofiaProExtraLight.otf");
}

/* @font-face {*/

/* 	font-family: 'sofia-pro-bold-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProBoldItalic.otf");*/
/* }*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-extra-light-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProExtraLightItalic.otf");*/
/* }*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProItalic.otf");*/
/* }*/

@font-face {

	font-family: 'sofia-pro-light';
	font-style: normal;
	src: url("../fonts/sofia/SofiaProLight.otf");
}

/* @font-face {*/

/* 	font-family: 'sofia-pro-light-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProLightItalic.otf");*/
/* }*/

@font-face {

	font-family: 'sofia-pro-medium';
	font-style: normal;
	src: url("../fonts/sofia/SofiaProMedium.otf");
}

/* @font-face {*/

/* 	font-family: 'sofia-pro-medium-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProMediumItalic.otf");*/
/* }*/

@font-face {

	font-family: 'sofia-pro-semi-bold';
	font-style: normal;
	src: url("../fonts/sofia/SofiaProSemiBold.otf");
}

/* @font-face {*/

/* 	font-family: 'sofia-pro-semi-bold-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProSemiBoldItalic.otf");*/
/* }*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-ultra-light';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProUltraLight.otf");*/
/* }*/

/* @font-face {*/

/* 	font-family: 'sofia-pro-ultra-light-italic';*/
/* 	font-style: normal;*/
/* 	src: url("../fonts/sofia/SofiaProUltraLightItalic.otf");*/
/* }*/



